/* ======== RESET OR NORMALIZE ======== */
@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face{
    font-family: 'OrangeJuice';
    src: url(fonts/orangejuice.ttf);
}

body {
    font-family: 'Lato', sans-serif;
    padding-top: 40px;
}
::selection {
    background-color: rgb(177, 118, 231);
    border-radius: 50%;
    color:white;

}
/* ======== NAVIGATION ======== */
.navbar-style {
    background: #de6161;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2657eb, #de6161);
    background: linear-gradient(to right, #2657eb, #de6161);
}

.navbar-style img {
    height: 3.5em;
}

.navbar-style li a {
    color: white;
}
.nav-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 
                0 4px 8px rgba(0, 0, 0, 0.05)
}
.dropdown-menu .dropdown-item {
    color: black;
}

/* ======== CAROUSSEL ========= */
.carousel-style {
    padding-left: 0px;
    padding-right: 0px;   
}

.carousel-sides {
    padding-left: 0px;
    padding-right: 0px;
    background-repeat: repeat;
    background-clip: content-box;
    background-size: 3em;
    opacity: 0.5;
    mask: white;
    box-shadow: inset 11px 0px 5em 0px rgba(0,0,0,0.75);
}

/* ======== NEWS ===============*/
.news-total-style {
    background-color: whitesmoke;
}

.news-total-style .news-style:nth-child(1) {
    height: 15em;
    background-image: url("imgs/bg-uvas.jpg");
    background-size: cover;
}
/* ======== GALLERY ============*/
.gallery-style{
    background-color: whitesmoke;
}
.gallery-style h1 {
    font-family: 'OrangeJuice', sans-serif;
}
/* ======== HERO ===============*/
.hero-style {
    background: url(imgs/bg-uvas.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1;
    box-shadow: inset 0px 0px 200px 32px rgba(0,0,0,0.75);
}


/* ======== MENSAGEM ===========*/
.mensagem-style {
    background-color: cornflowerblue;
}

.mensagem-style svg{
    position: relative;
    display: block;
    margin: 0 auto;
    height: 6em;
}

/* ======== NEWSLETTER =========*/
.newsletter-style {
    background-color: darkgray;
    background-attachment: fixed;
    text-align: center;
    padding-top: 2em
}
/* ======== FOOTER =============*/
.instagram-style:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    transition: ease-in;
    transition-duration: 25ms;
}
.twitter-style:hover{
    transition: ease-in;
    transition-duration: 25ms;
    background-color: #00acee;
}
.facebook-style:hover{
    transition: ease-in;
    transition-duration: 25ms;
    background-color: #3b5998
}

/* ======== COPYRIGHT ==========*/

/* ======== MEDIA ==============*/
@media (max-width: 768px) {
    body {
        padding-top: 0px;
    }
    .fixed-top {
        position: relative;
    }
}
