/* ======== RESET OR NORMALIZE ======== */
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Jaldi:400,700');

body {
    font-family: 'Lato', sans-serif;
    padding-top: 60px;
}

.navbar-style li a {
    color: white;
}

/* ======== NAVIGATION ======== */
.navbar-style {
    background: #de6161;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2657eb, #de6161);
    background: linear-gradient(to right, #2657eb, #de6161);
}

.navbar-style img {
    height: 3.5em;
}

.nav-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 
                0 4px 8px rgba(0, 0, 0, 0.05);
}

.dropdown-menu .dropdown-item {
    color: black;
}
/* ======== PRINCIPAL ===========*/
.redes-style li {
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)
}

.redes-bg-style {
    background-image: url("../imgs/palmas-imgs-2.jpg");
    background-size: cover;
}

.redes-style li:nth-child(2) {
    padding-bottom: 1em;
    padding-top: 1em;
}

/* ======== NEWSLETTER =========*/
.newsletter-style {
    background-color: darkgray;
    background-attachment: fixed;
    text-align: center;
    padding-top: 2em
}
/* ======== FOOTER =============*/

/* ======== COPYRIGHT ==========*/

/* ======== MEDIA ==============*/
@media (max-width: 768px) {
    body {
        padding-top: 0px;
    }
    .fixed-top {
        position: relative;
    }
    .principal-style h1 {
        font-size: 2em;
    }
    .principal-style h5 {
        font-size: 1em;
        color:  rgb(80, 18, 250);
    }
}
